name: release
on:
    workflow_run:
        workflows: ["lint"]
        branches: [master]
        types:
            - completed

jobs:
    build_and_push:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v3

            - name: Docker Setup Buildx
              uses: docker/setup-buildx-action@v2.2.1

            - name: Docker Login
              uses: docker/login-action@v2.1.0
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker images
              uses: docker/build-push-action@v3.2.0
              env:
                  REGISTRY: ghcr.io
                  IMAGE_NAME: ${{ github.repository }}
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
